
.nav {
    display: flex;
    margin: 10px;
    
    .nav-item {
        height: 40px;
        line-height: 40px;
        flex: 1;
        text-align: center;
        color: #555;
    }
    
    .current {
        color: #00a4a4;
    }
}

.topics {
    
    .topic-list {
        border-bottom: 1px solid #eee;
        
        .topic-item {
            display: flex;
            padding: 10px;
            border-top: 1px solid #eee;
            align-items: center;
            
            .topic-item-body {
                flex: 1;
                color: #333;
                overflow: hidden;
                padding: 3px 0;
                
                .topic-meta {
                    
                    .topic-tag, .author {
                        margin-right: 15px;
                    }
                    
                    .topic-tag {
                        display: inline-block;
                        padding: 4px;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 12px;
                    }
                    
                    .topic-rate {
                        float:right;
                    }
                }
                
                .topic-title {
                    font-size: 16px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;    
                    padding: 10px 0;
                }
            }
            
        }
    }
    
    

}
