ul,li,p, {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.share {
    background:#01abaa;                     
}

.job {
    background: #6a00ff;
}

.good {
    background: #d8c101;
}

.ask {
    background: #a20025;
}

.top {
    background: #d90073;
}
                 
.avatar {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-right: 15px;
}               

.load-tip {
    color: #555;
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
    border-top: 1px solid #eee;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1024;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    
    .loading-icon {
        width: 48px;
        height: 48px;
        display: inline-block;
        background: url(../images/loading.gif);    
        margin-bottom: 10px;
    }
}
