
/* 清除浮动 */
.ks-clear, .clear {
    *zoom: 1;
    
    &:after {
        content: '\20';
        display: block;
        height: 0;
        clear: both;
    }
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.mt_5 {
    margin-top: 5px;
}

.mb_5 {
    margin-bottom: 5px;
}

.mr_5 {
    margin-right: 5px;
}

.mt_10 {
    margin-top: 10px;
}

.mb_10 {
    margin-bottom: 10px;
}

.m_10 {
    margin: 10px;
}

.share {
    background:#01abaa;                     
}

.job {
    background: #6a00ff;
}

.good {
    background: #d8c101;
}

.ask {
    background: #a20025;
}

.top {
    background: #d90073;
}
                 
.avatar {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-right: 15px;
}               

.load-tip {
    color: #555;
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
    border-top: 1px solid #eee;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1024;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    
    .loading-icon {
        width: 48px;
        height: 48px;
        display: inline-block;
        background: url(../images/loading.gif);    
        margin-bottom: 10px;
    }
}

.menu {
    display: flex;    
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #eee;    
    background: #fff;
    
    a.back {
        flex: 1;
    }
    
    span.title {
        flex: 9;
        font-size: 16px;
    }
}
