.user-avatar {
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-right: 15px;
}

.user {
    
    .user-info {
        text-align: center;    
        background: #eee;
        padding: 10px 0;
    
        .meta {
            display: flex;
            
            .account, .prop {
                flex: 1;
            }
            
            .github {
                color:#444;
            }
            
            .user-score {
                color: #80bd01;
            }
        }    
    }
    
    .panel-tab {
        display: flex;
        text-align: center;
        height: 50px;
        line-height: 50px;
        
        .tab-item {
            flex: 1;
            color: #444;
            font-size: 16px;
        }
        
        .selected {
            color: #ff5a5f;
            border-bottom: solid 2px #ff5a5f;
        }
    }
    
    .user-topics {
        
        .topic-item {
            display: flex;
            padding: 10px 5px;
            border-top: 1px solid #eee;
            align-items: center;
            
            .topic-item-body {
                flex: 1;
                color: #333;
                overflow: hidden;
                
                .topic-meta {
                    
                    .author {
                        margin-right: 15px;
                    }

                }
                
                .topic-title {
                    font-size: 16px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    /*max-width: 70%;*/
                }
            }
            
        }
    }
    
}
