/** common class*/

/** float */
.fl {
    float: left;
}
.fr {
    float: right;
}

/** display */
.d_inline-block {
	display: inline-block;
}
.d_block {
	display: block;
}
.d_hide {
	display: none;
}
.d_inline {
	display: inline;
}

/** clear float*/
.clear {
	clear:both;
}

//@mixin 
@mixin ml_($val: 10px) {
    margin-left: $val;
}
@mixin mr_($val: 10px) {
    margin-right: $val;
}
@mixin mb_($val: 10px) {
    margin-bottom: $val;
}
@mixin mt_($val: 10px) {
    margin-top: $val;
}
@mixin pl_($val: 10px) {
    padding-left: $val;
}
@mixin pr_($val: 10px) {
    padding-right: $val;
}
@mixin pb_($val: 10px) {
    padding-bottom: $val;
}
@mixin pt_($val: 10px) {
    padding-top: $val;
}

// margin values
$marVals: 2,5,10,15,20;
/* margin */
@each $val in $marVals {
	.ml_#{$val} {
		@include ml_(#{$val}px);
	}
	.mr_#{$val} {
		@include mr_(#{$val}px);
	}
	.mb_#{$val} {
		@include mb_(#{$val}px);
	}
	.mt_#{$val} {
		@include mt_(#{$val}px);
	}
}
// padding values
$padVals: 2,5,10,15,20;
/* padding */
@each $val in $marVals {
	.pl_#{$val} {
		@include pl_(#{$val}px);
	}
	.pr_#{$val} {
		@include pr_(#{$val}px);
	}
	.pb_#{$val} {
		@include pb_(#{$val}px);
	}
	.pt_#{$val} {
		@include pt_(#{$val}px);
	}
}


