@import "reset.scss";
@import "common.scss";

::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,.02)
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.1)
}

html,body {
	height: 100%;
	width: 100%;
	overflow:hidden;    
	font-family: sans-serif;
}

a {
	color: #555;	
	text-decoration: none;				
}
						
.header {
	height: 60px;
	width: 100%; 
	background: #eee;
}

.main {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	
	.side, .content {
		height: 100%;
		overflow-y: auto;
	}
	
	.side {
		width:500px; 
		background: #fff;
		
	}
	
	.content {
		margin-left: 500px;
	}
	
	.topic-list {
		width: 100%;
		
		.topic {
			height: 40px;
			padding: 8px 10px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			
			.topic-avatar, .topic-title, .topic-meta {
				display: inline-block;
			}
		
			.topic-title, .topic-meta {			
				font-size: 14px;
				height: 24px;
				line-height: 24px;
			}
			
			.topic-avatar {
				width: 24px;
				height: 24px;
				float: left;
			}
			
			.topic-title {
				font-weight: normal;
				margin-left: 10px;
				
				a {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;	
					max-width: 380px;
					display: inline-block;
				}
			}
			
			.topic-meta {
				margin-left: 10px;
				padding: 0 5px;
				background: #ff0;
				
				var {
					font-style: normal;
				}
			}
		}
	}
	
	.topic-content {
		margin-top: 10px;
		margin-left: 20px;

		.topic-title {
			font-size: 16px;
		}		
		
		.topic-meta {
			margin-top: 10px;
			font-size: 14px;
			
			.topic-author , .topic-date, .topic-category {
				display: inline-block;
				padding: 0 5px;
				height: 24px;
				line-height: 24px;
			}
			
			.topic-author {
				background: #fcc;
			}
			.topic-date {
				background: #fae;
			}
			.topic-category {
				background: #fba;
			}
		}
	}
}