/** css reset */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{
	margin:0;
}   
ol,ul{
	margin:0;
	padding:0;
}
img { 
	border: none; 
	max-width: 100%;
}
ul,ol,li{
	padding:0; 
	margin:0; 
	list-style-type:none;
}